:root {
    --lightgrey: #f3f3f3;
    --black: #333333;
    --grey: #444444;
    --red: #b23d3b;
    --purple: #9f67bf;
    --yellow: #e59800;
    --blue: #489efd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: var(--lightgrey);
    overflow-x: hidden;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: currentColor;
}

ul {
    list-style:none;
}

p {
    font-size: clamp(1rem, 1.1vw, 1.125rem);
    line-height: clamp(1.25rem, 1.5vw, 1.5rem);
}

h1 {
    font-size: clamp(2.5rem, 5vw, 3.5rem);
}

h2 {
    font-size: 2rem;
}

h3,
h3 a {
    font-size: 1.5rem;
}

h1,
h2,
h3,
h3 a {
    font-family: 'Staatliches', sans-serif;
    margin-bottom: .75rem;
}

button,
.btn-primary,
.btn-secondary {
    background-color: var(--red);
    color: var(--lightgrey);
    padding: .5rem 1.5rem;
    border: none;
    cursor: pointer;
    font-size: 1.125rem;
    text-align: center;
    margin-top: .5rem;
}

.btn-secondary {
    background-color: var(--yellow);
}

.btn-tertiary {
    background-color: var(--black);
    width: 100%;
}

article {
    padding: 1rem
}

nav {
    padding: 1rem;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    background-color: #fff;
    align-items: center;
    z-index: 5;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

nav > .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

nav > .container > button {
    display: none;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
}

nav > .container > a {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

nav > .container > a img {
    height: 3rem;
}

#mobile-nav {
    transform: translateX(100%);
    position: absolute;
    width: 50%;
    background-color: var(--red);
    height: 100svh;
    top: 0;
    right: 0;
    padding: 10rem 0 0 1rem;
    transition: transform .5s;
}

#nav-btn {
    display: none;
}

#mobile-nav a {
    color: white;
    font-size: 2rem;
    font-weight: 300;
}

#mobile-nav li:not(:last-of-type) {
    margin-bottom: 1rem;
}

#mobile-nav #close-btn {
    position: absolute;
    top: 0.5rem;
    opacity: .66;
    right: 1rem;
    font-size: 2rem;
    padding: 0;
}

#desktop-nav {
    display: flex;
    gap: 7.5rem;
    align-items: center;
    justify-content: flex-end;
}

#desktop-nav > ul,
.social-container {
    display: flex;
    gap: .75rem;
}

nav a {
    font-size: 1.25rem;
    color: var(--black);
    font-weight: 700;
}

.link-social {
    font-size: 2.25rem;
    opacity: 0.66;
}

main {
    margin: 2rem auto;
}

.container,
section {
    width: clamp(50rem, 90vw, 66rem);
    max-width: 80vw;
    margin: auto;
}

#intro {
    padding: 10rem 0;
    color: #fff;
    position: relative;
    background-image: url('/public/img/nfl.jpg');
    background-size: cover;
    background-position: center;
}

#intro::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

#intro > section {
    position: relative;
    z-index: 2;
    margin: auto;
}

#intro > section article {
    max-width: 39rem;
}

#intro > section article a {
    display: block;
    width: fit-content;
    margin-top: 1rem;
}

#intro h1 {
    font-size: 3rem;
    margin-top: .5rem;
}

h4 {
    font-size: .7rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 3rem;
    color: #fff;
    font-weight: unset;
}

.yellow,
.sports {
    background-color: var(--yellow);
}

.purple,
.entertainment {
    background-color: var(--purple);
}

.blue,
.technology {
    background-color: var(--blue);
}

.list,
.list li,
.list li a {
    position: relative;
}

.list li a {
    cursor: pointer;
}

.list li::after {
    content: "";
    height: 1px;
    display: block;
    width: 100%;
    background-color: currentColor;
    opacity: .1;
    margin: .5rem 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:1rem;
}

.grid-container .card:first-of-type,
.grid-container .card:last-of-type {
    grid-column: span 2;
    flex-direction: row;
}

.grid-container .card:first-of-type img,
.grid-container .card:last-of-type img {
    width: 50%;
    height: 15rem;
}

.card {
    background-color: white;
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card > div {
    margin-bottom: auto;
}

.card img {
    width: 100%;
    object-fit: cover;
}

.card > div > :not(:last-child) {
    margin-bottom: 1rem;
}

.card.red {
    background-color: var(--red);
    color: white;
}

.card.dark {
    background-color: var(--black);
    color: white;
}

.about-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr); /* 3x2 container */
    gap: 1rem;
}

.about-container > :first-child {
    background-color: white;
    grid-column: span 2;
    grid-row: span 2;
}

.about-container > :last-child {
    background-color: var(--red);
    color: white;
    grid-column: span 1;
    grid-row: span 1;
}

.article-container {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap:1rem;
    margin: 2rem auto;
}

.article-container img {
    width: 100%;
    margin-bottom: 0.5rem;
}

.article-container > article {
    grid-area: span 2 / span 2;
    background-color: white;
}

.article-container > aside > :first-child {
    background-color: white;
    margin-bottom: 1rem;
}

.article-container > aside > :last-child {
    background-color: var(--yellow);
    color: white;
}

.article-container address {
    background-color: var(--lightgrey);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.contact-container {
    margin: 2rem auto;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(4, 1fr);
    gap: 2rem;
}

.contact-container form {
    grid-area: span 2 / span 3;
}

.contact-container aside {
    grid-area: span 2 / span 1;
}

#contact-form {
    background-color: white;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    max-width: 50rem;
    position: relative;
}

#contact-form > p {
    position: absolute;
    color: var(--red);
    font-weight: 500;
    top: .5rem;
    right: .75rem;
    font-family: 'Staatliches', sans-serif;
    font-style: italic;
    letter-spacing: 1px;
    opacity: 0.8;
}

#contact-form > div {
    position: relative;
    padding-top: 1.3rem;
}

#contact-form *:not(h1):not(label) {
    font-family: 'Lato';
    font-size: 1rem;
}

#contact-form > div label {
    position: absolute;
    top: 0;
    font-size: 14px;
    color: rgb(0,0,0,.66);
}

.optionnal {
    color: var(--red);
    margin-left: 2px;
}

#contact-form > div input,
#contact-form > div textarea,
#contact-form > select,
#contact-form > div select {
    width: 100%;
    border: 1px solid rgb(0 0 0 / 40%);
    border-radius: 2px;
    padding: .5rem .5rem;
    transition: box-shadow .3s, border .3s;
}

#contact-form textarea {
    resize: vertical;
}

#contact-form > div input:focus,
#contact-form > div textarea:focus,
#contact-form > select:focus,
#contact-form > div select:focus {
    outline: none;
    box-shadow: 0px 0px 0px 1px var(--yellow);
    border: 1px solid transparent;
}

.full-width {
    grid-column: span 6;
}

.half-width {
    grid-column: span 3;
}

.third-width {
    grid-column: span 2;
}

.two-thirds-width {
    grid-column: span 4;
}

footer {
    background-color: var(--black);
    width: 100%;
    padding-bottom: 1rem;
    margin-top: auto;
}

footer article {
    padding-bottom: 0;
}

footer .social-container {
    display: none;
}

footer > .container:not(p) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;

    color: white;
    padding: 3rem 0;
    gap: 3rem;
}

footer .list li a {
    color: var(--lightgrey);
}

footer form {
    display: grid;
    gap: .5rem;
    margin-top: 1rem;
    max-width: 17.5rem;
}

footer form input {
    padding: .5rem;
}

footer img {
    height: 3rem;
    margin-bottom: 1rem;
}

footer > p {
    background-color: var(--grey);
    text-align: center;
    color: white;
    padding: .5rem 0;
}

footer button {
    background-color: var(--yellow);
}

@media screen and (max-width: 1150px) {

    footer > .container:not(p) {
        grid-template-columns: repeat(2, 2fr);
        justify-items: unset;
    }

    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .about-container {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

    .grid-container .card:first-of-type,
    .grid-container .card:last-of-type {
        grid-column: unset;
        flex-direction: column;
    }

    .grid-container .card:first-of-type img,
    .grid-container .card:last-of-type img {
        width: 100%;
    }

    .card {
        max-width: 30rem;
        height: 100%;
    }

    .card > div > :not(:last-child) {
        margin-bottom: 0.5rem;
    }
}

@media screen and (max-width: 991px) {
    #desktop-nav {
        display: none;
    }

    footer .social-container {
        display: flex;
    }

    #nav-btn {
        display: block;
    }

    nav > .container > button {
        display: block;
    }

    .article-container {
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    }

    .article-container > article {
        grid-area: span 2 / span 2;
    }

    .article-container aside {
        grid-area: span 1 / span 2;
    }
}

@media screen and (max-width: 768px) {

    footer > .container:not(p) {
        grid-template-columns: repeat(1, 4fr);
        justify-items: unset;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .about-container {
        grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    }

    .contact-container form {
        grid-area: span 1 / span 4;
    }
    
    .contact-container aside {
        grid-area: span 1 / span 4;
    }

    .full-width,
    .half-width,
    .two-thirds-width,
    .third-width {
        grid-column: span 6;
    }

}